<div class="wrap">
  <div id="content">
    <div id="main">
      <div class="full_w">
        <%= render 'form' %>
      </div>
      <div class="footer">&raquo; <a href="#">Don't Know What Am I doing?</a> | Admin Panel</div>
    </div>
  </div>
</div>