<h1>Listing daily_expenses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_expenses.each do |daily_expense| %>
      <tr>
        <td><%= link_to 'Show', daily_expense %></td>
        <td><%= link_to 'Edit', edit_daily_expense_path(daily_expense) %></td>
        <td><%= link_to 'Destroy', daily_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily expense', new_daily_expense_path %>
